.group {
  display: flex;
  gap: 8px;
  margin-top: 8px;
  margin-bottom: 4px;
}

.select {
  flex: 1;
  background: var(--color-panel-alt);
  color: var(--color-text);
  border: none;
  border-radius: 8px;
  font-size: 13px;
  padding: 10px;
}
