.content {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.text {
  font-size: 13px;
  font-weight: 700;
  letter-spacing: 1px;
}

.meter {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
}
